.header_navigration{
    background: #1cb2d8;
}

/*Website navigration style*/
.me-auto a{
    color: #036377;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background: #33c1e5;
    margin: 0 10px;
    font-weight: 600;
    text-shadow: 0 1px 1px #1cb2d8;
    text-align: center;
}
/*Website navigration active button style*/
.me-auto .active{
    color: azure;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background: #038ca7;
    margin: 0 10px;
}
